.Rproj.user
.Rhistory
.RData
.Ruserdata

.Rprofile
.Ink

*~
*.pdf
*.tiff
*.tif
*.png
*.dat
*.doc
*.docx
*.tfw
auto*
*.docx
*.doc
*.jpg
*.xlsx
*.xls
*.txt
*.zip
*.msg
log
*.db
*.grd
*.gri
*.Rout

*.rdata
*.csv
*.pptx

*.dcf
*.html

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc


## shape files:
*.dbf
*.prj
*.shp
*.shx
*.cpg
*.sbn
*.sbx
*.xml
